#homeHero {
  background:
    linear-gradient(
      70deg,
      rgba(0, 32, 96, 0.8) 0%,
      rgba(0, 32, 96, 0.8) 50%,
      rgba(0, 32, 96, 0) 50%
    ),
    url("/everyone-gets-a-turn-to-share-their-story-web-ready.jpg");
  @include hero;
}

#homeAffiliation {
  background-color: var(--bs-primary-bg-subtle);
}

#homeWhatWeDo {
  background:
    linear-gradient(
      290deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.85) 50%
    ),
    url("/people-in-a-supportive-meeting-group-web-ready.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

#homeGetCertified {
  background-color: var(--bs-blue);
  background-image: url("../logos/masterkey-icon-white-25.png");
  background-blend-mode: soft-light;
  @include fullImageBackground;
  color: white;
}

.statCard {
  background-color: shade-color($blue, 75%);
  color: var(--bs-blue-text-emphasis);
  text-align: center;
  line-height: 0.5rem;
  border: 4px solid var(--bs-primary);
  border-radius: 1rem;
  padding: 1.5rem;
}

.statCardNumber {
  font-size: 4rem;
  color: tint-color($primary, 50%);
}

.statCardSubHead {
  font-weight: normal;
  font-size: 1rem;
}

.testimonialSlider {
  color: white;
  background-color: shade-color($blue, 75%);
  padding: 4rem;
  border: 4px solid var(--bs-primary);
  border-radius: 1rem;
  min-height: 384px;
}

.testimonialStars {
  font-size: 0.875rem;
  color: yellow;
  margin-right: 0.5rem;
}

.testimonialText {
  font-size: 0.875rem;
}

.testimonialName {
  font-weight: bold;
}
