#homeHero {
  color: white;
  display: flex;
  align-items: center;
  background:
    linear-gradient(
      70deg,
      rgba(0, 32, 96, 0.8) 0%,
      rgba(0, 32, 96, 0.8) 50%,
      rgba(0, 32, 96, 0) 50%
    ),
    url("../images/everyone-gets-a-turn-to-share-their-story-web-ready.jpg");
  @include fullImageBackground;
  min-height: 60vh;
}

#homeAffiliation {
  background-color: var(--bs-primary-bg-subtle);
}

#homeWhatWeDo {
  background:
    linear-gradient(
      290deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.85) 50%
    ),
    url("../images/people-in-a-supportive-meeting-group-web-ready.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

#homeGetCertified {
  background-color: var(--bs-blue);
  background-image: url("../logos/masterkey-icon-white-25.png");
  background-blend-mode: soft-light;
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  color: white;
}

#homeTestimonials {
  background: linear-gradient(
    70deg,
    rgba(230, 225, 208, 1) 0%,
    rgba(230, 225, 208, 1) 50%,
    rgba(255, 255, 255, 0) 50%
  );

  h2 {
    font-size: 3rem;
  }

  .prehead,
  h2 {
    text-align: right;
  }
}

.prehead {
  text-transform: uppercase;
}

.statCard {
  background-color: shade-color($blue, 75%);
  color: var(--bs-blue-text-emphasis);
  text-align: center;
  line-height: 0.5rem;
  border: 4px solid var(--bs-primary);
  border-radius: 1rem;
  padding: 1.5rem;
}

.statCardNumber {
  font-size: 4rem;
  color: tint-color($primary, 50%);
}

.statCardSubHead {
  font-weight: normal;
  font-size: 1rem;
}

#homeNextSteps {
  background:
    linear-gradient(0deg, rgba(0, 32, 96, 0.8) 0%),
    url("../images/people-sitting-together-discussing-issues-indoors-web-ready.jpg");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  color: white;
}

.testimonialSlider {
  color: white;
  background: #002060;
  padding: 4rem;
  border: 4px solid var(--bs-primary);
  border-radius: 1rem;
}

.testimonialStars {
  font-size: 0.875rem;
  color: yellow;
  margin-right: 0.5rem;
}

.testimonialText {
  font-size: 0.875rem;
}

.testimonialName {
  font-weight: bold;
}
