#homeHero {
  background:
    linear-gradient(0deg, rgba(0, 32, 96, 0.8) 0%),
    url("/everyone-gets-a-turn-to-share-their-story-web-ready.jpg");
  @include hero;
}

#homeAffiliation {
  background-color: var(--bs-primary-bg-subtle);
}

#homeWhatWeDo {
  background:
    linear-gradient(
      290deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.85) 50%
    ),
    url("/people-in-a-supportive-meeting-group-web-ready.jpg");
  @include fullImageBackground;
}

#homeGetCertified {
  background-color: $dark;
  background-image: url("../logos/masterkey-icon-white-25.png");
  background-blend-mode: soft-light;
  @include fullImageBackground;
  color: white;
}

.statCard {
  background-color: $dark;
  color: white;
  text-align: center;
  line-height: 0.5rem;
  border: 1px solid var(--bs-primary);
  border-radius: 0.75rem;
  padding: 1.5rem;

  .bi {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: $primary;
  }

  h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5em;
  }
}

.statCardNumber {
  font-size: 4rem;
  color: $primary;
}

.statCardSubHead {
  font-weight: normal;
  font-size: 1rem;
}

@media only screen and (max-width: 991px) {
  #homeWhatWeDo {
    padding-top: 65%;
    background: url("/people-in-a-supportive-meeting-group-web-ready.jpg");
    @include fullImageBackground;
    background-size: contain;
    background-position: center top;
  }
}
