// Overwriting Bootstrap Variables

// Colors
$primary: #c7a348;
$secondary: #7f7f7f;
$dark: #121212;

// Fonts
$font-family-base: "Work Sans", sans-serif;
$headings-font-family: "Work Sans", sans-serif;
$headings-font-weight: 700;
$display-font-weight: 700;
$font-size-base: 1rem;

// Headers
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Buttons
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.5rem;
$btn-border-radius-lg: 0.25rem;

// Include Bootstrap functions and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$custom-theme-colors: (
  "blue": #002060,
  "red": #c00000,
  "pink": #ef6da5,
  "transparent": rgba(0, 0, 0, 0),
);

$custom-spacers: (
  6: $spacer * 6,
);

$spacers: map-merge($spacers, $custom-spacers);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

// Mixins
@mixin fullImageBackground {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin hero {
  color: white;
  display: flex;
  align-items: center;
  @include fullImageBackground;
  min-height: 75vh;
}

// Custom code
@import "./home";
@import "./about";
@import "./programs";
@import "./footer";
@import "./testimonials";

p:last-of-type {
  margin-bottom: 0;
}

.btn {
  font-weight: bold;
}

.prehead {
  color: $primary;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.nextSteps {
  background:
    linear-gradient(0deg, rgba(0, 32, 96, 0.8) 0%),
    url("/people-sitting-together-discussing-issues-indoors-web-ready.jpg");
  @include fullImageBackground;
  color: white;
}
