// Overwriting Bootstrap Variables

// Colors
$primary: #826a12;
$secondary: #7f7f7f;
$dark: #000000;

// Fonts
$font-family-base: "Work Sans", sans-serif;
$headings-font-family: "Work Sans", sans-serif;
$headings-font-weight: 700;
$display-font-weight: 700;

// Buttons
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.5rem;
$btn-border-radius-lg: 0.25rem;

// Include Bootstrap functions and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$custom-theme-colors: (
  "blue": #002060,
  "red": #c00000,
  "pink": #ef6da5,
  "transparent": rgba(0, 0, 0, 0),
);

$custom-spacers: (
  6: $spacer * 6,
);

$spacers: map-merge($spacers, $custom-spacers);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

// Mixins
@mixin fullImageBackground {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// Custom code
@import "./home";
@import "./programs";
@import "./footer";

h1 {
  font-size: 3rem;
}

p:last-of-type {
  margin-bottom: 0;
}
